#myBtn,
#myModalBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin-right: 50px;
  margin-top: 6px;
}


.banner2 {
  margin-top: 8rem;
  margin-left: 6rem;
}

.form-box {
  overflow: hidden;
}

.button-box {
  width: 228px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #5200ff, #00eeff);
  border-radius: 30px;
  transition: left 0.5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
  margin-left: 12%;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  border-top: 0;
  outline: none;
  background: transparent;
}

.submit-btn {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  margin-left: 5.5rem !important;
  cursor: pointer;
  border-radius: 30px !important;
  background-image: linear-gradient(to right, #007bff, #00d9ff);
}

#login {
  position: absolute;
  left: 52%; /* Initial position for login form */
  transition: left 0.5s; /* Smooth transition */
}

#register {
  position: absolute;
  left: 76%; /* Initial position for register form */
  transition: left 0.5s; /* Smooth transition */
}

.social {
  margin-left: 34% !important;
}

.social img {
  margin-left: 1.8rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: -14px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 85vh;
  z-index: -1;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*The Modal (background)*/
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin-top: 6%; /* 15% from the top and centered */
  margin-left: 77%;
  padding: 20px;
  border: 0px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.alink {
  color: #000;
  text-decoration: none;
}

.alink:hover {
  color: #5200ff;
}
